@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
    --cor-principal: #00ffdd;
    --cor-secundaria: #32496b;
    --cor-destaque: #2b63fc;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
    background-image: url("img/fundo.webp");
    background-size: unset;
    background-position: center;
    height: 100vh;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}
footer{
    background-color: rgb(34, 39, 32);
}